<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Cliente</title>
</head>
<body>
    <div class="container">
        <h1>Modificar Cliente</h1>
        <form method="post" action="{% url 'editar_cliente'%}">
            
            <label for="correo">Correo:</label>
            <input type="email" id="correo" name="correo" value="{{ cliente.correo }}" required>

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{ cliente.nombre }}" required>

            <label for="aparterno">Apellido Paterno:</label>
            <input type="text" id="aparterno" name="aparterno" value="{{ cliente.aparterno }}" required>

            <label for="amaterno">Apellido Materno:</label>
            <input type="text" id="amaterno" name="amaterno" value="{{ cliente.amaterno }}" required>

            <label for="contraseña">Contraseña:</label>
            <input type="password" id="contraseña" name="contraseña" value="{{ cliente.contraseña }}" required>

            <input type="submit" value="Modificar Cliente">
        </form>
    </div>
</body>
</html>
